<ion-header>
  <ion-toolbar>
    <ion-title>Perfis Netflix</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-img
            src="https://i.pinimg.com/originals/61/54/76/61547625e01d8daf941aae3ffb37f653.png"
          ></ion-img>
          <ion-list>
            <ion-item>Bia</ion-item>
            <ion-item>18 meses</ion-item>
            <ion-item>La Casa de Papel</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-img
            src="https://i.pinimg.com/736x/b2/a0/29/b2a029a6c2757e9d3a09265e3d07d49d.jpg"
          ></ion-img>
          <ion-list>
            <ion-item>Mainha</ion-item>
            <ion-item>2 meses</ion-item>
            <ion-item>Grey Anatomy</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-img
            src="https://i.pinimg.com/originals/b6/77/cd/b677cd1cde292f261166533d6fe75872.png"
          ></ion-img>
          <ion-list>
            <ion-item>Pai</ion-item>
            <ion-item>5 meses</ion-item>
            <ion-item>Round Six</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
